<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <!-- Koi Appender -->
        <KoiAppender name="IRC"/>
        <KoiAppender name="KTor"/>
        <KoiAppender name="KM-DBot"/>
        <KoiAppender name="KoiAppender"/>

        <Console name="console" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} | [%thread] %-5level %logger{36} | %msg%n"/>
        </Console>

        <!-- Backup Log File -->
        <RollingFile name="file" fileName="logs/fatal.log"
                     filePattern="logs/Log_%d{yyMMdd}_%i.log">
            <PatternLayout pattern="[%-5p] %d{HH:mm:ss} [%C] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="50" fileIndex="min"/>
        </RollingFile>
    </appenders>
    <loggers>
        <!-- Root Logger Configuration -->
        <root level="debug">
            <appender-ref ref="file"/>
            <appender-ref ref="console"/>
        </root>

        <!-- Koi Logger Configuration -->
        <logger name="KM-DBot" level="info" additivity="false">
            <AppenderRef ref="KM-DBot"/>
        </logger>
        <logger name="Main" level="info" additivity="false">
            <AppenderRef ref="KoiAppender"/>
        </logger>
        <logger name="IRC" level="debug" additivity="false">
            <AppenderRef ref="IRC"/>
        </logger>

        <logger name="dev.kord" level="debug" additivity="false">
            <AppenderRef ref="KM-DBot"/>
        </logger>
        <logger name="dev.lavalink" level="debug" additivity="false">
            <AppenderRef ref="KM-DBot"/>
        </logger>
        <logger name="ktor.application" level="debug" additivity="false">
            <AppenderRef ref="KTor"/>
        </logger>
        <logger name="Ktor-Server" level="trace" additivity="false">
            <AppenderRef ref="KTor"/>
        </logger>
    </loggers>
</configuration>